[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "sdl"]
	path = sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "hypseus-singe"]
	path = hypseus-singe
	url = https://github.com/DirtBagXon/hypseus-singe.git
